{% extends "base.html" %} {% block title %}Card Details{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Card Details</h3>
    <br />

  <div class="row">

    <div class="col">
        <label for="exampleFormControlSelect1">Card Question</label>
      <input type="text" style="height:20rem" class="form-control text-center" placeholder="Card Question" id="card-ques" name="card-ques" value="{{ card.card_ques }}">
    </div>

    <div class="col">
        <label for="exampleFormControlSelect1">Card Review</label>
      <input type="text" style="height:20rem" class="form-control text-center" placeholder="Card Review Answer" id="card-ans" name="card-ans" value="{{ card.card_ans }}">
    </div>
  </div>

    <br />
<div class="form-group">
    <label for="exampleFormControlSelect1">Card Difficulty - {{ card.diff_level }}</label>
    <select class="form-control" id="card-diff" name="card-diff">
      <option>Easy</option>
      <option>Medium</option>
      <option>Difficult</option>
    </select>
  </div>
  <br />
  <div class="text-center">
<button type="submit" class="btn btn-primary">Update Card</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
  Delete Card
</button>
    <a class="btn btn-primary" href="/decks/{{ deck_id }}" role="button">Back to Deck</a>
    </div>
</form>



<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will delete the Card and all of its contents. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" onClick="deleteCard({{ card.card_id }}, {{ deck_id }})">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
