{% extends "base.html" %} {% block title %}Create Card{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Create Card in Deck {{ deck_id }}</h3>
    <br />

  <div class="row">
    <div class="col">
        <label for="exampleFormControlSelect1">Card Question</label>
      <input type="text" style="height:20rem" class="form-control text-center" placeholder="Card Question" id="card-ques" name="card-ques">
    </div>
    <div class="col">
        <label for="exampleFormControlSelect1">Card Review</label>
      <input type="text" style="height:20rem" class="form-control text-center" placeholder="Card Review Answer" id="card-ans" name="card-ans">
    </div>
  </div>

    <br />
<div class="form-group">
    <label for="exampleFormControlSelect1">Card Difficulty</label>
    <select class="form-control" id="card-diff" name="card-diff">
      <option>Easy</option>
      <option>Medium</option>
      <option>Difficult</option>
    </select>
  </div>
  <br />
<div class="text-center">
     <button type="submit" class="btn btn-primary">Create Card</button>
    <a class="btn btn-primary" href="/decks/{{ deck_id }}" role="button">Back to Decks</a>
    </div>
</form>

{% endblock %}
