{% extends "base.html" %} {% block title %}Decks{% endblock %} {% block content
%}
<h1 align="center">Deck Management</h1>
<div class="d-inline-block w-100 h-25"></div>

<div class="text-center">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Create Deck
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Name of the Deck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST">
              <textarea name="deck" id="deck" class="form-control"></textarea>
              <br />
              <div align="center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

<br/>

{% if user.decks|length>0 %}

    <div class="list-group">
        {% for deck in user.decks %}
          <a href="/decks/{{ deck.deck_id }}" class="list-group-item list-group-item-action">
            {{ deck.deck_name }}
          </a>
        {% endfor %}
    </div>

{% else %}
<p class="font-weight-bold font-italic text-center size">There are no decks available.</p>
{% endif %}
{% endblock %}
